.top-buffer {
    margin-top: 20px;
}

.w100 {
    width: 100%;
}

.vcenter {
  vertical-align: middle!important;
}

.div-center-outer {
  width: 100%;
  text-align: center;
}

.div-center {
  display: inline-block;
}

.ul-no-border >li {
    border: 0px!important;
}

.no-margin {
    margin: 0
}

.fs12 {
    font-size: 12px
}
.fs13 {
    font-size: 13px
}
.fs16 {
    font-size: 16px
}
.fs18 {
    font-size: 18px
}
.lh18 {
    line-height: 18px
}
.lh22 {
    line-height: 22px
}
.lh30 {
    line-height: 30px
}
.lh36 {
    line-height: 36px
}

.highlight {
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    padding: 9px 14px;
}

.highlight pre {
    margin-top: 0;
    margin-bottom: 0;
    word-break: normal;
    word-wrap: nowrap;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    padding: 0;
}

.highlight pre code {
    font-size: inherit;
    color: #333;
}

.highlight pre code:first-child {
    display: inline-block;
    padding-right: 45px;
}

.table-responsive .highlight pre {
    white-space: normal;
}

.images-zone {
    margin-top: -16px;
}

small {
    color: grey!important;
}

.no-padding {
    padding: 0!important;
}

.margin-right-10 {
    margin-right: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.no-radius {
    border-radius: 0;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
